---
import { Image } from "astro:assets";
import dayjs from "dayjs";
import DefaultLayout from "./Default.astro";
import { readingTime } from "../utils/readingTime";
const { title, date, cover, description, body } = Astro.props;
const formattedDate = dayjs(date).format("MMMM DD, YYYY");
---

<DefaultLayout title={title} description={description} image={cover}>
  <header class="mb-8">
    <h1 class="text-gray-dark text-5xl font-black leading-snug pb-6 font-serif">
      {title}
    </h1>
    <div class="font-mono text-sm text-gray-light flex space-x-2">
      <div>{formattedDate}</div><span>|</span><div>
        {readingTime(body || "")} minutes read
      </div>
    </div>
  </header>
  <Image src={cover} alt={title} width={720} height={480} class="mb-8" />
  <slot />
</DefaultLayout>
